.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff;
  font-family: Arial, sans-serif;
  text-shadow: 3px 0px 0 rgba(234, 236, 142, 0.185);
 text-align: center;
}

.home-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #f0f0f0;
}

.home-container p {
  font-size: 1.2rem;
  color: #e0e0e0;
  max-width: 600px;
  margin: 0 auto;
}

.image-container {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  
}

.image-container img {
  filter: grayscale(1) brightness(2.5);
  display: block;
  margin: 20px 0;
}

